body {
  margin: 25px;
}

h1 {
  font-size: 56px;
  color: rgb(22, 24, 124);
  margin: 5px 0;
}

h2 {
  margin: 10px;
  padding: 0;
  font-size: 16px;
  color: rgb(208, 76, 81);
}

.highlight {
  background-color: rgb(7, 8, 78);
}
main p {
  font-size: 26px;
  margin: 0;
  padding: 0 0 10px 0;
  color: rgb(239, 222, 199);
}

main {
  text-align: center;
  background-color: rgb(239, 222, 199);
  border: none;
  box-shadow: none;
  margin: 0;
}

li {
  margin: 10px auto;
  background-color: rgb(22, 24, 124);
  padding: 5px;
  border-radius: 20px;
  width: 420px;
  height: 85px;
  list-style: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.734);
}

a:hover {
  background-color: rgb(95, 4, 115);
  padding: 0.8%;
  color: rgb(173, 147, 114);
  border-radius: 15px;
}

img {
  margin-top: 5px;
  width: auto;
  height: 100px;
}
