body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  background-color: rgb(239, 222, 199);
  margin-top: 50px;
}

img {
  width: auto;
  height: 300px;
}
h1 {
  color: rgb(22, 24, 124);
  font-size: 32px;
}
p {
  color: rgb(208, 76, 81);
  font-size: 18px;
}

#last {
  color: rgb(95, 4, 115);
  font-size: 48px;
  font-weight: bold;
}
a {
  color: rgb(124, 42, 19);
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: rgb(54, 24, 188);
  text-decoration: underline;
}
